@page "/AddHealthDataPoint"
@inherits DTComponentBase
@using DietTrackerBlazorServer.Areas.Identity
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore

@* @if (Loaded)
{
    @if (HealthMetrics.Count > 0)
    {



        <Heading Size="HeadingSize.Is3">New health data point</Heading>
        

        <ListGroup>
            @foreach (var dataPoint in NewDataPoints)
            {
                <ListGroupItem>
                    <Div Flex="Flex.JustifyContent.Between.AlignItems.Center">
                        <Heading Size="HeadingSize.Is4">@dataPoint.HealthMetric.Name</Heading>
                        <Text>Value: @dataPoint.Value</Text>
                    </Div>

                    <Slider @bind-Value="@dataPoint.Value" TValue="int" Min="0" Max="10" Disabled="@(!dataPoint.Include)"></Slider>
                </ListGroupItem>
            }
        </ListGroup>

        <Div>
            <Field>
                <FieldLabel>Use current date</FieldLabel>
                <Check TValue="bool" @bind-Checked="UseCurrentDate" />
            </Field>
            <Field>
                <DatePicker Disabled="UseCurrentDate" TValue="DateTime" InputMode="DateInputMode.DateTime" @bind-Date="SelectedDate"></DatePicker>
            </Field>
        </Div>


        <Button Margin="Margin.Is3.FromTop" Color="Color.Success" Size="Size.Medium" Clicked="@OnSubmitButtonClicked">Submit data point</Button>


    }
    else
    {
        <Paragraph>
            You must <a href="HealthMetrics">define</a> at least one health metric before you can add a health data point.
        </Paragraph>
    }
} *@




