@page "/AddHealthDataPoint"
@using DietTrackerBlazorServer.Areas.Identity
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore

@if (Loaded)
{
    @if (HealthMetrics.Count > 0)
    {
        <Table Bordered>

            <TableHeader>
                <TableRow>
                    <TableHeaderCell>Metric</TableHeaderCell>
                    <TableHeaderCell>Value(0-10)</TableHeaderCell>
                    <TableHeaderCell>Include?</TableHeaderCell>
                </TableRow>
            </TableHeader>

            <TableBody>
                @foreach (var item in NewDataPoints)
                {
                    <TableRow>
                        <TableRowCell>@item.HealthMetric.Name</TableRowCell>
                        <TableRowCell>
                            <Row>
                                <Column ColumnSize="ColumnSize.Is2">
                                    <Text>@item.Value</Text>
                                </Column>
                                <Column>
                                    <Slider VerticalAlignment="VerticalAlignment.Middle" @bind-Value="@item.Value" TValue="int" Min="0" Max="10" Disabled="@(!item.Include)"></Slider>
                                </Column>
                            </Row>
                        </TableRowCell>
                        <TableRowCell>
                            <Check TValue="bool" @bind-Checked="@item.Include"></Check>
                        </TableRowCell>
                    </TableRow>
                }
            </TableBody>
        </Table>

        <Row>
            <Column ColumnSize="ColumnSize.Is3">
                <Text>Custom date?</Text>
            </Column>
            <Column ColumnSize="ColumnSize.Is1">
                <Check Float="Float.Start" @bind-Checked="@UseCustomDataPointDate" TValue="bool" />
            </Column>
            <Column>
                <DatePicker @bind-Date="@DataPointDate" InputMode="DateInputMode.DateTime" Disabled="@(!UseCustomDataPointDate)" />
            </Column>
        </Row>

        <Button Color="Color.Success" Clicked="@OnSubmitButtonClicked">Submit</Button>
    }
    else
    {
        <Paragraph>
            You must <a href="HealthMetrics">define</a> at least one health metric before you can add a health data point.
        </Paragraph>
    }
}




