@page "/edithealthmetrics"

<h3>EditHealthMetrics</h3>

@if (Loaded)
{
    <Card>
        <CardHeader>
            Health metrics
        </CardHeader>

        @*<DataGrid TItem="HealthMetric"
        Data="@HealthMetrics"
        @bind-SelectedRow="@DataGridSelectedHealthMetric">
        <DataGridCommandColumn/>
        <DataGridColumn Field="@nameof(HealthMetric.Name)" Caption="Name"/>
        <DataGridColumn Field="@nameof(HealthMetric.Description)" Caption="Description"/>

        </DataGrid>*@



        <CardFooter>
            @*<Button Clicked="@OnAddNewMetricButtonClicked" Color="Color.Primary">
                <Icon Name="IconName.Add" />
                Add new metric
            </Button>
            <Button Color="Color.Warning">
                <Icon Name="IconName.Edit" />
                Edit metric
            </Button>
            <Button Color="Color.Danger">
                <Icon Name="IconName.Delete" />
                Delete metric
            </Button>*@
        </CardFooter>
    </Card>
}
else
{
    <Column>
        <Row>
            <Text>
                Loading...
            </Text>
        </Row>
    </Column>
}



<Modal @ref="AddModal">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>New health metric</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel>Name</FieldLabel>
                <TextEdit @bind-Text="@NewHealthMetric.Name" Placeholder="Enter a name..."></TextEdit>
            </Field>
            <Field>
                <FieldLabel>Description</FieldLabel>
                <TextEdit @bind-Text="@NewHealthMetric.Description" Placeholder="Enter a description..."></TextEdit>
            </Field>
        </ModalBody>
        <ModalFooter>
            @*<Button Color="Color.Primary" Clicked="@OnModalAddButtonClicked">Add</Button>
            <Button Color="Color.Danger" Clicked="@OnModalAddButtonClicked">Cancel</Button>*@
        </ModalFooter>
    </ModalContent>
</Modal>


