@page "/HealthMetrics"
@using DietTrackerBlazorServer.Components
@inherits DTComponentBase


<MudDataGrid @ref="_Grid"
             T=@HealthMetric
             Items=@_HealthMetrics
             SelectedItem=@_SelectedItem
             SelectedItemChanged=@SelectedItemChanged
             MultiSelection="false"
             Dense="true"
             Elevation="10">

    <ToolBarContent>
        <MudText Typo="Typo.h6">Health Metrics</MudText>
    </ToolBarContent>
    <Columns>
        @* <SelectColumn ShowInFooter=false ShowInHeader=false Size="Size.Small" /> *@
        <PropertyColumn Property="x => x.Name" />
        <PropertyColumn Property="x => x.Description" />
        <TemplateColumn Title="Color">
            <CellTemplate>
                <div class="d-flex flex-nowrap justify-space-around align-center flex-1">
                    <MudColorPicker @bind-Text="context.Item.Color"
                                    Class="me-2"
                                    DisableAlpha="true" />
                    <MudIcon Icon="@Icons.Material.Rounded.Circle" Style="@($"color: {context.Item.Color}; align-self: center;")" />
                </div>
            </CellTemplate>
        </TemplateColumn>
        <TemplateColumn Title="Edit">
            <CellTemplate>
                <div class="d-flex flex-nowrap justify-space-around align-center flex-1">
                    <MudIconButton Icon="@Icons.Material.Filled.Edit"
                                   Variant="Variant.Filled"
                                   Color="Color.Info"
                                   OnClick="@(async () => await OnItemEdit(context.Item))" />

                    <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                   Variant="Variant.Filled"
                                   Color="Color.Error"
                                   OnClick="@(async () => await OnItemDelete(context.Item))" />
                </div>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
    <NoRecordsContent>
        You do not have any health metrics yet.
        You can add one by clicking the add button below.
    </NoRecordsContent>
    <PagerContent>
        @if (_HealthMetrics.Count >= 10)
        {
            <MudDataGridPager DisableRowsPerPage="true" />
        }
    </PagerContent>
</MudDataGrid>

<div class="d-flex justify-center">
    <MudButton Variant="Variant.Filled"
               Color="Color.Success"
               Class="mt-4"
               OnClick="@OnItemAdd">

        <MudIcon Icon="@Icons.Material.Outlined.Add" />
        Add new health metric
    </MudButton>

</div>


<DTDialog TItem="@HealthMetric" @ref="_Dialog">
    <MudTextField @bind-Value="@context.Item.Name"
                  Label="Name"
                  Disabled="@context.Delete"
                  Variant="Variant.Filled"
                  Placeholder="Name" />
    <MudTextField @bind-Value="@context.Item.Description"
                  Label="Description"
                  Disabled="@context.Delete"
                  Variant="Variant.Filled"
                  Placeholder="Description" />
    <MudColorPicker @bind-Text="@context.Item.Color"
                    Label="Colour"
                    Variant="Variant.Filled"
                    Disabled="@context.Delete" />
    @if (context.Delete)
    {
        <MudText Color="Color.Error">Deleting this metric will remove all data points associated with it.</MudText>
    }
</DTDialog>





