@using Microsoft.AspNetCore.Identity
@inherits DTComponentBase


<CascadingValue TValue="MudTheme"
                IsFixed="true"
                Value="@Theme">

    <MudThemeProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />

    <MudLayout>
        <MudAppBar Dense>
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
            Health Tracker
            <MudSpacer />
            <LoginDisplay />
        </MudAppBar>

        <MudDrawer @bind-Open="@_drawerOpen">
            <MudNavMenu>
                <MudNavLink Href="/">Dashboard</MudNavLink>
                <MudNavLink Href="/HealthMetrics">
                    <div class="d-flex align-items-center justify-content-between gap-4">
                        <MudIcon Icon="@Icons.Material.Filled.DataObject" Size="Size.Small" />
                        Edit Metrics
                    </div>
                </MudNavLink>
                <MudNavLink Href="/FoodTypes">
                    <div class="d-flex align-items-center justify-content-between gap-4">
                        <MudIcon Icon="@Icons.Material.Filled.Fastfood" Size="Size.Small" />
                        Edit Food Types
                    </div>
                </MudNavLink>
                <MudNavLink Href="/AddHealthDataPoint">Data points</MudNavLink>
                @* <MudNavLink Href="/Stats">Stats</MudNavLink>
                <MudNavLink Href="/about">About</MudNavLink> *@
            </MudNavMenu>
        </MudDrawer>

        <MudMainContent>
            <MudContainer MaxWidth="MaxWidth.Medium" Class="mt-4">
                <AuthorizeView>
                    <Authorized>
                        @Body
                    </Authorized>
                    <Authorizing>
                        Authorising...
                    </Authorizing>
                    <NotAuthorized>
                        <MudText Align="Align.Center" Typo="Typo.h4">
                            Please log in to access site features.
                        </MudText>
                    </NotAuthorized>
                </AuthorizeView>
            </MudContainer>
        </MudMainContent>
    </MudLayout>

</CascadingValue>
